h2{
    color:#1e3273;
    font-family: 'Fira Sans Black';
    margin-left: 1%;
    margin-right: 1%;
}


@font-face{
    font-family: 'Fira Sans Black';
    src: url(fonts/Fira_Sans/FiraSans-Black.ttf);
    font-weight: bolder;
}

@font-face{
    font-family: 'Fira Sans Bold';
    src: url(fonts/Fira_Sans/FiraSans-Bold.ttf);
}

@font-face{
    font-family: 'Fira Sans Regular';
    src: url(fonts/Fira_Sans/FiraSans-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1F2633;
    height: 100vh;
    width: 100vw;
}

#background_container{
    position: absolute;
    height: 100%;
    width: 100%;
}

#background_gradient{
    height: 100%;
    width: 100%;
    background-image: radial-gradient( rgba(255, 255, 255, 0), rgba(31, 38, 51, 1));
}

#stripe_background{
    position:absolute;
    background-image: url("DioPattern.png");
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 15%;
    opacity: 0.10;
    animation: pan 70s linear infinite;
}

@keyframes pan{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

.tabs{
    margin: 0;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Upgrades and uppgrade tabs */

#upgrade_container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#upgrades_tab{
    position: absolute;
    width: 30rem;
    height: 15rem;
    transform:translateY(-50%);
    top: 50%;
    left: 96%;

    background-color: rgba(133, 62, 193, 1);
    border-radius: 5px;
    outline: solid 4px rgba(133, 62, 193, 1);
    outline-offset: 0.4rem;

    z-index: 2;
    transition: all 400ms ease-in-out;
}

#open_uppgrade_button{
    position: absolute;
    outline: None;
    border: None;

    background-color: transparent;
    background-image: url("arrowIcon.svg") ;
    background-size: 4rem;
    background-repeat: no-repeat;

    width: 5rem;
    height: 5rem;

    transform: translateY(-50%);
    left: -20%;
    top: 50%;

    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

#uppgrade_scrollable_menu{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-color: #1F2633 rgba(133, 62, 193, 1);
    scrollbar-width: thin;
    text-align: center;
    align-items: center;
    transition: transform 500ms ease-in-out;
}

#upgrades_tab h1{
    color:#16234C;
    font-family: 'Fira Sans Bold';
    font-size: 30px;
    text-align: center;
    display: block;
}

#uppgrade_scrollable_menu button{
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;

    transform: translateX(-50%);

    width: 90%;
    padding: 5%;

    background-color:#e6d8f2;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex ;
    transition: transform 500ms ease-in-out;
    outline: solid 4px #e6d8f2;
    outline-offset: 0.2rem;
    
    color:#1F2633;
    font-family: 'Fira Sans Regular';
    font-size: 20px;
    font-weight:bold;
}

#uppgrade_scrollable_menu button:hover{
    background-color:#1F2633;
    outline: solid 4px #1F2633;
    outline-offset: 0.2rem;
    color: #F4F1E9;
}

/* Window clicker button */
#window_background{
    position:absolute;
    display:flex;
    width: 30rem;
    height: 30rem;
    background-color: rgba(133, 62, 193, 1);

    left: 50%;
    top: 35%;
    transform: translateX(-50%);

    border-radius: 5px;
    justify-content: center;

    outline: solid 3px rgba(133, 62, 193, 1);
    outline-offset: 0.3rem;
}

#window_button{
    width: 200px;
    height: 300px;

    background-color: transparent;
    border: transparent;

    margin:auto;

    background-image: url("img/cem-ustundag-HeSVZo4g64M-unsplash.png");
    background-size: cover;

    cursor: pointer;
    animation-direction: reverse;
    transition: transform 0.9s ease-in-out;

    animation: window_button_hover_out 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

#window_button:hover{
    animation-direction:normal;
    animation: window_button_hover_in 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes window_button_hover_in{
    from{
        top: 225px;
        left: 830px;

        width: 200px;
        height: 300px;
    }
    to{
        width: 220px;
        height: 320px;

        top: 240px;
        left: 820px;
    }
}

@keyframes window_button_hover_out{
    to{
        top: 225px;
        left: 830px;

        width: 200px;
        height: 300px;
    }
    from{
        width: 220px;
        height: 320px;

        top: 240px;
        left: 820px;
    }
}

#window_tab{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin:auto;
}

/* Tob nav bar */
.top_tab{
    display: flex;
    position: absolute;
    width:100%;
    height:200px;
    padding-top: 10px;
}

.main_menu_button{
    position:relative;
    display:block;
    width: 5rem;
    height: 5rem;
    border: none;

    background-color: rgba(137, 65, 197, 1);
    border-radius: 5px;
    cursor: pointer;
    z-index: 12;
}

.main_menu_button img{
    width: 4rem;
}

.window_counter{
    display: block;
    width: 270px;
    height: 90px;

    margin-top: 6%;

    background-color: rgba(133, 62, 193, 1);
    border-radius: 5px;

    outline: 3px solid rgba(133, 62, 193, 1);
    outline-offset: 0.3rem;
}

.window_counter h3{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #e6d8f2;

    margin-top: 10px;
    font-size: 25px;
    font-family: 'Fira Sans Bold';
}

/* Main menu things */

.main_menu{
    display: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;

    background-color: rgba(137, 65, 197, 1);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s;
}

#background_effect{
    display: none;
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("DioPattern.png");
    background-size: 15%;
    opacity: 0.20;
    animation: main_menu_pan 110s linear infinite;
}

@keyframes main_menu_pan{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

#button_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 12;
    left: 30%;
    top: 19%;
}

#button_container button{
    margin: 5% 0px 5% 0px;
    padding: 15px 80px 15px 80px;
    background-color:#e6d8f2;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: solid 4px #e6d8f2;
    outline-offset: 0.2rem;
}

#button_container button:hover{
    background-color:#1F2633;
    outline: solid 4px #1F2633;
}

#button_container button:hover h3{
    color:#F4F1E9;
}

#button_container h3{
    color: #1F2633;
    font-size: 27px;
    font-family: "Fira Sans Bold";
    margin: 10px 0px 10px 0px;
}

#volume_options{
    display: flex;
    flex-direction: row;
    margin: 5px;
    color:#F4F1E9;
}

#volume_options h3{
    color:#F4F1E9;
    font-size: 27;
    margin: 20px 20px 20px 0px;
}

#volume_options input{
    left: 400px;
    top:35%;
    position: absolute;
}

.slider{
    -webkit-appearance: none;
    width: 400px;
    border-radius: 10px;
    background-color:#16234C;

}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color:#F4F1E9;
    border: none;
    cursor: pointer;
}

.slider::-moz-range-progress{
    background-color:#F4F1E9;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
