h2{
    color:#1e3273;
    font-family: 'Fira Sans Black';
    margin-left: 1%;
    margin-right: 1%;
}

/* Declarerar fonts så jag kan använda det senare(Inte fönster skatt(Är en skattefuskare) */
@font-face{
    font-family: 'Fira Sans Black';
    src: url(fonts/Fira_Sans/FiraSans-Black.ttf);
    font-weight: bolder;
}

@font-face{
    font-family: 'Fira Sans Bold';
    src: url(fonts/Fira_Sans/FiraSans-Bold.ttf);
}

@font-face{
    font-family: 'Fira Sans Regular';
    src: url(fonts/Fira_Sans/FiraSans-Regular.ttf);
}
/* -------------------------------------------------------------------- */

#particlesCanvas{
    /* Använder html canvas för att skapa effecter  */
    display: block;
    position:absolute;
    z-index: 5;
    pointer-events: none;
    top: 0;
    left: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1F2633;
    height: 100vh;
    width: 100vw;
}

/* Här sätter jag upp backgrunderna för spelet */
#background_container{
    position:fixed;
    height: 100%;
    width: 100%;
}

#background_gradient{
    /* Lägger på en svag gradient på stripe bakgrunden så att den ser lite finare ut */
    height: 100%;
    width: 100%;
    background-image: radial-gradient( rgba(255, 255, 255, 0), rgba(31, 38, 51, 1));
}

#stripe_background{
    position:absolute;
    background-image: url("DioPattern.png");
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 15rem;
    opacity: 0.05;
    animation: pan 70s linear infinite;
}

@keyframes pan{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

.tabs{
    margin: 0;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Upgrades and uppgrade tabs */

#upgrade_container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#upgrades_tab{
    position: absolute;
    width: 30rem;
    height: 15rem;
    transform:translateY(-50%);
    top: 50%;
    left: 96%;

    background-color: rgba(133, 62, 193, 1);
    border-radius: 5px;
    outline: solid 4px rgba(133, 62, 193, 1);
    outline-offset: 0.4rem;

    z-index: 2;
    transition: all 400ms ease-in-out;
}

#open_uppgrade_button{
    position: absolute;
    outline: None;
    border: None;

    background-color: transparent;
    background-image: url("arrowIcon.svg") ;
    background-size: 4rem;
    background-repeat: no-repeat;

    width: 5rem;
    height: 5rem;

    transform: translateY(-50%);
    left: -20%;
    top: 50%;

    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

#uppgrade_scrollable_menu{
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-color: #1F2633 rgba(133, 62, 193, 1);
    scrollbar-width: thin;
    text-align: left;
    transition: transform 500ms ease-in-out;
}

#upgrades_tab h1{
    color:#e6d8f2;
    font-family: 'Fira Sans Bold';
    font-size: 30px;
    text-align: center;
    display: block;
}

#uppgrade_scrollable_menu button{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;

    transform: translateX(-50%);

    width: 90%;
    height: 7rem;
    padding: 5%;

    background-color:#e6d8f2;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex ;
    transition: transform 500ms ease-in-out;
    outline: solid 4px #e6d8f2;
    outline-offset: 0.2rem;

    color:#1F2633;
    font-family: 'Fira Sans Regular';
    font-size: 20px;
    font-weight:bold;
    word-wrap: break-word;
}

#uppgrade_scrollable_menu h3{
    margin: 0;
    padding: 0;
    color:#1F2633;
    font-family: 'Fira Sans Regular';
    font-size: 20px;
    font-weight:bold;
    word-wrap: break-word;
}

#uppgrade_scrollable_menu var{
    margin: 0;

    color:#8941c5;
    font-family: 'Fira Sans Regular';
    font-style: normal;
    font-size: 20px;
    font-weight:bold;
    word-wrap: break-word;
}
#uppgrade_scrollable_menu button:hover {
    background-color:#1F2633;
    outline: solid 4px #1F2633;
    outline-offset: 0.2rem;
    color: #F4F1E9;
}
#uppgrade_scrollable_menu button:hover h3 {
    color: #F4F1E9;
}
/* Window clicker button */
#window_background{
    position:absolute;
    display:flex;
    width: 30rem;
    height: 30rem;
    background-color: rgba(133, 62, 193, 1);

    left: 50%;
    top: 35%;
    transform: translateX(-50%);

    border-radius: 5px;
    justify-content: center;

    outline: solid 3px rgba(133, 62, 193, 1);
    outline-offset: 0.3rem;
}

/* Det här är huvudknappen som lägger till windows in i din plånbok */
#window_button{
    position: absolute;
    width: 200px;
    height: 200px;

    z-index: 6;
    margin: auto; 

    background-color: transparent;
    border: transparent;

    margin: 0;
    padding: 0;

    background-image: url("img/Window\ icon.png");
    background-size: 200px;

    cursor: pointer;
    transition: transform 0.1s ease-in-out;

}

#window_button:hover{

    transform: scale(1.2);
    background: cover;
}


/* Tob nav bar */
.top_tab{
    display: flex;
    position: absolute;
    width:100%;
    height:200px;
    padding-top: 10px;
}

.main_menu_button{
    position:relative;
    display:block;
    width: 5rem;
    height: 5rem;
    border: none;
    margin-left: 0.5rem;

    background-color: #8941c5;
    border-radius: 5px;
    cursor: pointer;
    z-index: 12;
}

#upgrade_button_phone{
    display: none;
}

.main_menu_button img{
    width: 4rem;
}

/* Den här är stylen för att visa hur många fönster du har samlat på */
.window_counter{
    position: absolute;
    display: block;
    width: 270px;
    height: 90px;

    bottom: 120%;

    background-color: rgba(133, 62, 193, 1);
    border-radius: 5px;

    outline: 3px solid rgba(133, 62, 193, 1);
    outline-offset: 0.3rem;
}

.window_counter h3{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #e6d8f2;

    margin-top: 10px;
    font-size: 25px;
    font-family: 'Fira Sans Bold';
}

/* Main menu things */

.main_menu{
    display: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;

    background-color: rgba(137, 65, 197, 1);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s;
}

#background_effect{
    display: none;
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("DioPattern.png");
    background-size: 15rem;
    opacity: 0.20;
    animation: main_menu_pan 110s linear infinite;
}

@keyframes main_menu_pan{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

#button_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 12;
    left: 30%;
    top: 19%;
}

#button_container button{
    margin: 5% 0px 5% 0px;
    padding: 15px 80px 15px 80px;
    background-color:#e6d8f2;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: solid 4px #e6d8f2;
    outline-offset: 0.2rem;
}

#button_container button:hover{
    background-color:#1F2633;
    outline: solid 4px #1F2633;
}

#button_container button:hover h3{
    color:#F4F1E9;
}

#button_container h3{
    color: #1F2633;
    font-size: 27px;
    font-family: "Fira Sans Bold";
    margin: 10px 0px 10px 0px;
}

#volume_options{
    display: flex;
    flex-direction: row;
    color:#F4F1E9;
    margin-top: 5%;
    margin-bottom: 5%;
}

#volume_options h3{
    color:#F4F1E9;
    font-size: 27px;
}

#volume_options input{
    position: absolute;
    transform: translateY(50%);
    margin-left: 8rem;
}

.slider{
    -webkit-appearance: none;
    width: 400px;
    border-radius: 20px;
    background-color:#1F2633;
    transform: rotate(45deg);
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color:#F4F1E9;
    border-radius: 5px;
    transform: rotate(45deg);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color:#F4F1E9;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    transform: rotate(45deg);
}

/* Mobile styles */

@media only screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
    }

    #window_background{
        width: 20rem;
        height: 20rem;
        top: 40%;
    }
    #open_uppgrade_button{
        display: none;
    }
    #upgrades_tab{
        top: 0;
        left: 0;
        transform: translateY(0);

        display: block;
        width: 100%;
        height: 100%;
        z-index: 8;
    }

    .top_tab{
        width: 100%;
        justify-content:space-between;
    }

    #upgrade_button_phone{        
        display: block;
        border: none;
        background-color:#8941c5;
        width: 5rem;
        height: 5rem;
        margin-right: 0.5rem;
        border-radius: 5px;
        z-index: 9;
    }
    
    #button_container{
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
    }

    #volume_options{
        display: none;
    }
}